
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="/assets/js/script.js"></script>
  <link rel="icon" href="/assets/img/image4.png">
  <title>{{ .title }}</title>
</head>
<body>

  <main id="main">
    <section id="sessao1">
        <label class="amarelo-cor font-popp tamanho-one">ENCURTA LINK</label>
        <p style="margin-top: -15px;" class="branco-cor font-second tamanho-second alinha-direita">ESCOLHA UM APELIDO PARA FACILITAR</p>
        <div id="messages"></div>
        <button class="style-button font-second" onClick="encurtar();" type="button">ENCURTAR</button>
        <input type="text" id="link" class="style-input" placeholder="EX: http://google.com/">
        <br>
        <div id="optional"> 
            <div id="option1">
                <button id="btnopt" onClick="option();">ADD APELIDO</button>
            </div>
            <div id="option2" style="display: none;">
                <button id="cancelopt" onClick="canceloption();">X</button>
                <input type="text" id="custom" class="two-input" placeholder="EX: python">
            </div>
        </div>

        <br>
        <div class="awnser" id="awnser" style="visibility: hidden;">
            <div class="container">
                <div class="circulo"></div>
                <label style="color:#fccb00;" class="font-second">URL:</label>
                <p id="idurl" class="text-gerado"></p>
             </div>
             <div class="container">
                <div class="circulo"></div>
                <label style="color:#fccb00;" class="font-second">CLICKS:</label>
                <p id="idclicks" class="text-gerado"></p>
             </div>
                <div class="container">
                <div class="circulo"></div>
                <label style="color:#fccb00;" class="font-second">ADMIN:</label>
                <p id="idadmin" class="text-gerado"></p>
             </div>
        </div>
        </section>
        <div class="passar">
            <a style="text-decoration: none; font-family: sans-serif;" href="#sessao2"><div class="circulo-dois">↓</div></a>
        </div>
    </main>
    <section id="sessao2">
        <header>
            <label class="amarelo-cor font-popp tamanho-second">MOTIVOS PARA USAR NOSSO ENURTADOR</label>
        </header>
        <nav>
            <article>
                <div class="image"><img src="/assets/img/image1.png"></div>
                <div class="texts">
                    <span class="font-second">Fácil, Rapido e intuitivo</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Domínio fácil e intuitivo de se memorizar e usar, tornando os seus links encurtados mais amigáveis para se compartilhar e facilitando o engajamento da sua audiência.</p>
                </div>
            </article>
            <article>
                <div class="image"><img src="/assets/img/image4.png"></div>
                <div class="texts">
                    <span class="font-second">Links Seguros</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Todas as suas URLs encurtadas são criptografas por padrão, tornandos as mais seguras através de certificados de segurança (HTTPS) consolidados no mercado.</p>
                </div>
            </article>
            <article>
                <div class="image"><img src="/assets/img/image2.png"></div>
                <div class="texts">
                    <span class="font-second">Estatísticas</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Verifique o total de cliques da sua url encurtada, edite ou exclua a sua url encurtada!</p>
                </div>
            </article>
            <article>
                <div class="image"><img src="/assets/img/image3.png"></div>
                <div class="texts">
                    <span class="font-second">Grátis</span>
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Crie quantos links encurtados quiser e compartilhe com quantas pessoas você quiser, de forma gratuita!!.</p>
                </div>
            </article>
        </nav>
    </section>
</body>
</html>