
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="/assets/js/script.js"></script>
  <link rel="icon" href="/assets/img/image4.png">
  <title>{{ .title }}</title>
</head>
<body>
    <header style="background-image: url('/assets/img/gofundo.png');">
        <article><h1>encurta.tech</h1></article>
        <span id="messages"></span>
        <section id="s1">
            <div>
                <h2>Encurte a sua url</h2>
            </div>
            <nav>
                <input id="link" type="text" placeholder="cole a sua url aqui..."> </input>
                <button onclick="encurtar();">Encurtar</button>
            </nav>
            <div>
                <input id="apelido" type="text" placeholder="apelido (opcional)"></input>
                <p style="width: 90%;font-size:13px;color:white;">Use esse campo caso queira definir um apelido para a sua URL. Apenas caracteres de 'a' a 'z', '0' a '9' e '-' são permitidos.</p>
            </div>
        </section>
        <section id="s2" style="display:none;">
            <div>
                <input id="result" type="text"> </input>
                <button id="copy" onclick="copiarTexto();">COPIAR</button>
            </div>
            <button onclick="new_link();"> encurtar um novo link </button>
        </section>
    </header>

   <main>
    <section>
        <h2 style="color:#313131;text-align: center;margin-bottom: 10px;">Porque usar?</h2>
        <nav>
            <div>
                <article>
                    <label>Fácil, Rapido e intuitivo</label>
                    <img src="/assets/img/image1.png">
                    <p>Domínio fácil e intuitivo de se memorizar e usar, tornando os seus links encurtados mais amigáveis para se compartilhar e facilitando o engajamento da sua audiência.</p>
                </article>
            </div>
            <div>
                <article>
                    <label>Links Seguros</label>
                    <img src="/assets/img/image4.png">
                    <p>Todas as suas URLs encurtadas são criptografas por padrão, tornandos as mais seguras através de certificados de segurança (HTTPS) consolidados no mercado</p>
                </article>
            </div>
            <div>
                <article>
                    <label>Estatísticas</label>
                    <img src="/assets/img/image2.png">
                    <p>Verifique o total de cliques da sua url encurtada, edite ou exclua a sua url encurtada!</p>
                </article>
            </div>
            <div>
                <article>
                    <label>Grátis</label>
                    <img src="/assets/img/image3.png">
                    <p>Crie quantos links encurtados quiser e compartilhe com quantas pessoas você quiser, de forma gratuita!!.</p>
                </article>
            </div>
        </nav>
    </section>
   </main>
</body>
</html>